[submodule "BCS1110 Introduction to Computer Science/JavaCraft/javacraft"]
	path = BCS1110 Introduction to Computer Science/JavaCraft/javacraft
	url = https://gitlab.maastrichtuniversity.nl/bcs1110/javacraft.git
